.header {
	height: 105px;
	width: 100vw;
	padding-left: 20px;
	background: #fff;
	top: 0;
	padding-top: 40px;
	display: flex;
	font-size: 13px;
	border-bottom: 1px solid #e4e1e1;
	position: fixed;
	justify-content: space-around;
	z-index: 999;
}
.brand {
	width: 150px;
	height: 150px;
	margin-top: -60px;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
.menu:hover {
	text-decoration: none;
	color: #212432;
}

.header-menu {
	font-size: 13px;
	height: 60px;
	letter-spacing: 0.5px;
	margin-top: 5px;
	margin-right: 20px;
}
.menu {
	color: #212432;
	font-weight: 600;
	/* height: 70px; */
}
.header-menu:hover {
	border-bottom: 3px solid blue;
}
.header div ul {
	display: flex;
}
.sub-menu {
	display: flex;
	height: 150px;
	width: 100vw;
	margin-top: 20px;
	align-items: center;
	padding-left: -10%;
	justify-content: center;
}
ul li ul.sub-menu {
	min-width: 100%;
	background: #313443;
	display: none;
	position: absolute;
	z-index: 999;
	left: 0;
}
ul li:hover ul.sub-menu {
	display: flex;
	color: #fff;
}
.menu-content {
	color: white;
	margin: 30px;
	height: 150px;
	width: 100%;
	font-family: Maison Neue, Helvetica Neue, Helvetica, Arial, Lucida Grande,
		sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.menu-content i {
	font-size: 25px;
}
.sub-menu li a:hover {
	background-color: #151a2b;
}

.menu-login {
	margin-left: 10%;
	display: flex;
	width: 300px;
}
/* .menu {
    margin-top: -30px;
} */
.dashboard {
	width: 17vw;
	margin-top: 60px;
	align-items: center;
	padding-left: -10%;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	padding: 20px;
}
.menu-img {
	height: 50px;
	width: 50px;
	border-radius: 25px;
	margin: 10px;
	margin-top: -15px;
}
ul li ul.dashboard {
	min-width: 15vw;
	background: #313443;
	display: none;
	position: absolute;
	z-index: 999;
	left: 0;
	margin-left: 75vw;
}
ul li:hover ul.dashboard {
	display: block;
	color: #fff;
}
.menu-login div {
	line-height: 15px;
}
.dashboard li a {
	color: white;
	font-weight: 600;
}
.dashboard-dash {
	display: flex;
	/* justify-content: center; */
	align-items: center;
}
.login div:nth-child(2) {
	font-size: 1.2em;
	line-height: 20px;
}
.btn {
	height: 40px;
	width: 150px;
	border-radius: 5px;
	background: #238dc1;
	color: #fff;
	margin: 10px auto;
	text-align: center;
}
.last-logo {
	display: flex;
}
.material-icons-outlined {
	margin-left: 15px;
	width: 40px;
}




.parent {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    width: 100%;
    /* margin-left: 100px; */
    background-color: aqua;
}

.child2 img {
    width: 700px;
    margin-right: 100px;
    height: 90vh;
    /* border: 2px solid red; */

}

.child1 {
    /* border: 2px solid red; */
    width: 500px;
    margin-left: 100px;
    color: white;
    text-align: center;
}

.child1 div {
    margin-top: 150px;
}

.child1 button {
    width: 130px;
    height: 40px;
    border-radius: none;
    background-color: black;
    color: white;
}

.header h1 img {
   margin-top: -40px;
    border: 2px solid red;
    width: 80px;
}

.header h1 {
    /* margin-top: 0; */
    border: 2px solid black;
}

#content {
    /* border: 2px solid red; */
	display: grid;
	grid-template-columns: repeat(2,1fr);
	margin-top: 50px;
}

#content1 {
    /* border: 2px solid red; */
	text-align: center;
	height: 530px;

}
#content2 {
	/* border: 2px solid red; */
	text-align: center;
	line-height: 25px;
	height: 530px;

}
#content span {
	color: blueviolet;
}
#content1 p {
	/* border: 2px solid red; */
	width: 330px;
	line-height: 25px;
	/* text-align: center; */
	margin: auto;
}
#content2 p {
	width: 330px;
	margin: auto;
}
#content3 {
	/* border: 2px solid red; */
	text-align: center;
	line-height: 25px;
	height: 530px;

}
#content3 p {
	/* border: 2px solid red; */
	width: 330px;
	line-height: 25px;
	/* text-align: center; */
	margin: auto;
}
#content4 {
	/* border: 2px solid red; */
	text-align: center;
	line-height: 25px;
	height: 530px;

}
#content4 p {
	/* border: 2px solid red; */
	width: 330px;
	line-height: 25px;
	/* text-align: center; */
	margin: auto;
}
#content5 {
	/* border: 2px solid red; */
	text-align: center;
	line-height: 25px;
	background-color: black;
	height: 530px;

}
#content5 h1 {
	color: white;
}
#content5 p {
	/* border: 2px solid red; */
	width: 330px;
	line-height: 25px;
	/* text-align: center; */
	margin: auto;
	color: white;
}
#content6 {
	/* border: 2px solid red; */
	text-align: center;
	line-height: 25px;
	background-color: gainsboro;
	height: 530px;

}
#content6 p {
	/* border: 2px solid red; */
	width: 330px;
	line-height: 25px;
	/* text-align: center; */
	margin: auto;
}

figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  
  figcaption {
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
  }
  
  img {
	width: 100%;
	height: auto;
  }
  