.parent {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    width: 100%;
    /* margin-left: 100px; */
    /* background-color: aqua; */
	background: linear-gradient(to bottom right,#3d97ce 0%,#12debb 100%);

}

.child2 img {
    width: 700px;
    margin-right: 100px;
    height: 90vh;
    /* border: 2px solid red; */

}

.child1 {
    /* border: 2px solid red; */
    width: 500px;
    margin-left: 100px;
    color: white;
    text-align: center;
}

.child1 div {
    margin-top: 150px;
}

.child1 button {
    width: 130px;
    height: 40px;
    border-radius: none;
    background-color: black;
    color: white;
	cursor: pointer;
}

.header h1 img {
   margin-top: -40px;
    /* border: 2px solid red; */
    width: 80px;
}



#content {
    /* border: 2px solid red; */
	display: grid;
	grid-template-columns: repeat(2,1fr);
	margin-top: 50px;
	margin: auto;
	gap: 10px;
	margin-top: 10px;
}

#content1 {
    /* border: 2px solid red; */
	text-align: center;
	height: 530px;
	background-color: #f9e7f6;

}
#content2 {
	/* border: 2px solid red; */
	text-align: center;
	line-height: 25px;
	height: 530px;
	background-color: #f0f4f6;

}
#content span {
	color: blueviolet;
}
#content1 p {
	/* border: 2px solid red; */
	width: 330px;
	line-height: 25px;
	/* text-align: center; */
	margin: auto;
}
#content2 p {
	width: 330px;
	margin: auto;
}
#content3 {
	/* border: 2px solid red; */
	text-align: center;
	line-height: 25px;
	height: 530px;
	background-color: #f9fcfd;

}
#content3 p {
	/* border: 2px solid red; */
	width: 330px;
	line-height: 25px;
	/* text-align: center; */
	margin: auto;
}
#content4 {
	/* border: 2px solid red; */
	text-align: center;
	line-height: 25px;
	height: 530px;
	background-color: #dff8ff;

}
#content4 p {
	/* border: 2px solid red; */
	width: 330px;
	line-height: 25px;
	/* text-align: center; */
	margin: auto;
}
#content5 {
	/* border: 2px solid red; */
	text-align: center;
	line-height: 25px;
	background-color: black;
	height: 530px;

}
#content5 h1 {
	color: white;
}
#content5 p {
	/* border: 2px solid red; */
	width: 330px;
	line-height: 25px;
	/* text-align: center; */
	margin: auto;
	color: white;
}
#content6 {
	/* border: 2px solid red; */
	text-align: center;
	line-height: 25px;
	background-color: gainsboro;
	height: 530px;

}
#content6 p {
	/* border: 2px solid red; */
	width: 330px;
	line-height: 25px;
	/* text-align: center; */
	margin: auto;
}


/* Middle banner */

.middle {
	width: 100%;
	height: 85vh;
	/* border: 2px solid red; */
	background-color: #f0f4f6;
	margin-top: 40px;

}

.inside1 {
	margin-top: 50px;
	width: 80%;
	margin: auto;
}
.inside1 p {
	color: black;
}
.inside1 h1 {
	font-size: 40px;
}

.inside2 {
	/* border: 2px solid red; */
	display: grid;
	grid-template-columns: repeat(4,1fr);
	width: 80%;
	margin: auto;
justify-content: space-between;
gap: 10px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.inside2 span {
	color: blue;
}

#part1 p:nth-child(1) {
	color: black;
}
/* #part1 p:nth-child(2) {
	color: grey;
} */
#part2 p:nth-child(1) {
	color: black;
}
#part3 p:nth-child(1) {
	color: black;
}
#part4 p:nth-child(1) {
	color: black;
}


/* HEADER CSS FROM HERE----------------------------------------- */
.header {
	height: 105px;
	width: 100%;
	padding-left: 20px;
	background: #fff;
	top: 0;
	padding-top: 40px;
	display: flex;
	font-size: 13px;
	border-bottom: 1px solid #e4e1e1;
	position: fixed;
	justify-content: space-around;
	z-index: 999;
}
.brand {
	width: 150px;
	height: 150px;
	margin-top: -60px;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}

.header-menu {
	font-size: 13px;
	height: 60px;
	letter-spacing: 0.5px;
	margin-top: 5px;
	margin-right: 20px;
}
.menu {
	color: #212432;
	font-weight: 600;
	/* height: 70px; */
}
.header-menu:hover {
	border-bottom: 3px solid blue;
}
.header div ul {
	display: flex;
}
.sub-menu {
	display: flex;
	height: 150px;
	width: 100vw;
	margin-top: 20px;
	align-items: center;
	padding-left: -10%;
	justify-content: center;
}
ul li ul.sub-menu {
	min-width: 100%;
	background: #313443;
	display: none;
	position: absolute;
	z-index: 999;
	left: 0;
}
ul li:hover ul.sub-menu {
	display: flex;
	color: #fff;
}
.menu-content {
	color: white;
	margin: 30px;
	height: 150px;
	width: 100%;
	font-family: Maison Neue, Helvetica Neue, Helvetica, Arial, Lucida Grande,
		sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.menu-content i {
	font-size: 25px;
}
.sub-menu li a:hover {
	background-color: #151a2b;
}

.menu-login {
	margin-left: 10%;
	display: flex;
	width: 300px;
}

.login {
	width: 17vw;
	margin-top: 60px;
	align-items: center;
	padding-left: -10%;
	justify-content: center;
	padding: 40px;
}
ul li ul.login {
	min-width: 250px;
	background: #313443;
	display: none;
	position: absolute;
	z-index: 999;
	left: 0;
	margin-left: 70vw;
}
ul li:hover ul.login {
	display: block;
	color: #fff;
}
.menu-login div {
	line-height: 15px;
}
.login div:nth-child(1) {
	font-size: 1.5em;
}
.login div:nth-child(2) {
	font-size: 1.2em;
	line-height: 20px;
	margin-bottom: 20px;
}

.skip-btn{
	height: 40px;
	width: 15rem;
	border-radius: 5px;
	background: #004ad4;
	color: #fff;
	/* margin: 10px auto; */
	text-align: center;
}

.login-btn {
	height: 40px;
	width: 15rem;
	border-radius: 5px;
	background: #5b7c8d;
	color: rgb(204, 204, 204);
	/* margin: 10px auto; */
	text-align: center;
}
.last-logo {
	display: flex;
}
.material-icons-outlined {
	margin-left: 15px;
	width: 40px;
}


body {
	/* background-color: aquamarine; */
	font-family: Maison Neue, Helvetica Neue, Helvetica, Arial, Lucida Grande,
		sans-serif;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
}
.box-1 {
	display: flex;
	width: 80%;
	height: 600px;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	/* border: 1px solid red; */
	margin: auto;
}
.content {
	/* border: 1px solid black; */
	width: 50%;
	height: 100%;
}
.para {
	margin-top: 30%;
}
.para > span {
	font-size: 38px;
}
.para-1 {
	/* border: 1px solid red; */
	width: 72%;
	text-align: start;
	margin-left: 15%;
	color: black;
}
.btn {
	width: 36%;
	height: 40px;
	border: none;
	border-radius: 10px;
	background-color: #4296cb;
	color: white !important;
	transition-duration: 1s;
}
.btn:hover {
	background-image: linear-gradient(
		to right top,
		#4296c3,
		#3e98d4,
		#3999d5,
		#349bd6,
		#2f9ce7
	);
}




.footer {
    /* height: 95vh; */
    width: 100vw;
    background: #212432;
    padding-top: 10rem;
    padding-bottom: 6rem;
    padding-left: 6rem;
    padding-right: 8rem;
}
h2 {
	/* display: block; */
	font-size: 1.5em;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	/* font-weight: bold; */
}
.footer-div1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.footer-div1-border {
	padding-top: 50px;
	border-top: 1px solid #514166;
}
.footer-div1 h2 p {
	width: 200px;
	font-size: 1.4rem;
	color: #858282;
}
.footer-div1-list {
	margin-bottom: 2rem;
	line-height: 1.2em;
	margin-top: -50px;
	display: flex;
	margin-right: 5%;
}
.footer-div1-list ul {
	margin: 0 20px;
}
.footer-div1-conta {
	font-size: 1.3rem;
	color: #7b7f92;
	color: #a7aabb;
	letter-spacing: 0.05em;
}
.footer-div1-conta1 {
	font-size: 1.3rem;
	color: #fffefe;
	font-weight: 600;
}
.app {
    width: 300px;
    display: flex;
    flex-wrap: wrap;

}
.app-logo {
	color: white;
	font-size: 25px;
	margin-right: 20px;
	/* width: 50px; */
}




body {
	/* background-color: aquamarine; */
	font-family: Maison Neue, Helvetica Neue, Helvetica, Arial, Lucida Grande,
		sans-serif;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
}

.image {
	/* border: 2px solid red; */
	display: flex;
}
.image img {
	width: 60px;
	margin-top: -5px;
}
#join-now h1 {
	font-size: 32px;
}